@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'e-Ukraine';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url('@/assets/fonts/e-Ukraine/e-ukraine-regular_w.ttf') format('woff2');
    }
    @font-face {
        font-family: 'e-Ukraine Head';
        src: url('@/assets/fonts/e-UkraineHead/e-UkraineHead-Regular.otf') format('woff2');
        font-weight: normal;
        font-style: normal;
    }
}
:root {
    --bg: #101010;
    --bg-text: #ffffff;
    --bg-text-secondary: #D3D3D3;

}
body {
    background-color: var(--bg);
    color: var(--bg-text) ;
}
.goal-subhead {
    color: var(--bg-text-secondary) ;
}
li {
    list-style-type: none;
}