@tailwind base;
@tailwind components;
@tailwind utilities;
.full-container {
    background-color: #151515;
    color: #FFFFFF;
}
li {
    list-style-type: none;
}
.goal-name {
    font-size: 44px;
}
.goal-content p {
    font-size: 22px;
}
